@media screen and (max-width: 480px) {
  body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  /*        ヘッダーレイアウト        */

  header {
    height: 100px;
    margin: 0;
    background-color: #e1d7b9;
  }

  .header-container {
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
  }

  .header-container-logo a img {
    width: 70%;
    margin-top: 5px;
  }

  .header-container-menu {
    display: flex;
    justify-content: space-around;
  }

  .header-container-menu img {
    width: 47px;
    margin-right:5px;
  }

  .header-container-menu button {
    width: 45px;
    height: 45px;
    padding: 0;
    margin-right: 5px;
    font-size: 5pt;
    border: 1px solid;
    border-radius: 10px;
  }

  /*        ページ内タイトル        */

  h2 {
    margin-top: 20px;
    margin-left: 5%;
    padding: 0;
    font-size: 10pt;
    text-align: left;
  }

  /*        フォームのボタン（横長の背景茶色）        */

  .btn-Group {
    text-align: center;
    margin: 30px 0;
  }

  .btn-Group input, .btn-Group button {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-radius: 13px;
    background-color: #e1d7b9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  /*        フォームでの綺麗度の並び        */

  .condition-Group {
    margin: 50px -5% 50px 0;
  }

  .condition-Group-Choice {
    display: flex;
    flex-wrap: wrap;
    align-items: right;
  }

  .condition-Group-Choice label {
    margin-top: 5px;
    flex-basis: 161px;
  }

  .condition-Group-Choice label input {
    display: none;
  }

  .condition {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 3.0;
  }

  .select-Condition {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 50%;
    background-color: #cccccc;
    vertical-align: middle;
    line-height: 3.0;
  }

  .condition2, .condition4, .condition6 {
    margin: 0;
    margin-left: 6%;
  }

  .color1 {
    background-color: #3ddcff;
  }

  .color2 {
    background-color: #919fff;
  }

  .color3 {
    background-color: #d782ff;
  }

  .color4 {
    background-color: #ff9b64;
  }

  .color5 {
    background-color: #c89101;
  }

  .color6 {
    background-color: #6c5807;
  }

  .color1, .color2, .color3, .color4, .color5, .color6 {
    width: 77%;
    height: 25px;
    display: inline-block;
    line-height: 2.0;
    color: #fdffff;
    text-align: center;
  }

  /*        カテゴリーボタン        */

  .category-Group {
    margin-bottom: 50px;
  }

  .category-Group span {
    color: #0a0a0a;
  }

  .category {
    width: 18%;
    height: 35px;
    margin-top: 5px;
    margin-right: 1%;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #0a0a0a;
    background-color: #f3efe3;
    font-size: 8pt;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 3.0;
  }

  .select-Category {
    width: 18%;
    height: 35px;
    margin-top: 5px;
    margin-right: 1%;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #0a0a0a;
    background-color: #e1d7b9;
    font-size: 8pt;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 3.0;
  }

  .category-Group-Button label input {
    display: none;
  }

  /*        フォームの性別入力        */

  .gender-Group label {
    margin-left: 5%;
  }

  .gender-Group label input {
    display: none;
  }

  .gender {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 2px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 50%;
    vertical-align: middle;
  }

  .select-Gender {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 2px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 50%;
    background-color: #cccccc;
    vertical-align: middle;
  }

  /*        フォームのおさがり画像        */

  .image-Group {
    margin: 5px -5% 20px 0;
    display: flex;
    flex-wrap: wrap;
  }

  .image-Group label input[type="file"] {
    display: none;
  }

  .label1 label, .label2 label, .label3 label, .label4 label {
    width: 90%;
    height: 35px;
    margin: 5px 1% 40px 1%;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #0a0a0a;
    background-color: #e1d7b9;
    font-size: 8pt;
    text-align: center;
    letter-spacing: 2px;
    line-height: 3.0;
  }

  .image1, .image2, .image3, .image4 {
    width: 158px;
    margin-right: 8px;
  }

  .image1 input, .image2 input, .image3 input, .image4 input {
    width: 100%;
  }

  #img1, #img2, #img3, #img4 {
    width: 150px;
    height: 150px;
  }

  #img2, #img4 {
    margin-left: 9%;
  }

  .label2, .label4 {
    margin-left: 10%;
  }

  /*        ユーザー情報変更ページ・おさがり情報変更ページ共通部分        */
  .title-Container {
    height: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
  }

  .matcingItem-Information-Container-Inner-Title p {
    margin-top: 40px;
  }

  .user-Edit-Container form {
    margin: 0 auto;
    width: 80%;
    font-size: 10pt;
    line-height: 1.0;
  }

  .supply-Edit-Container form {
    margin: 0 auto;
    width: 87%;
    font-size: 10pt;
    line-height: 1.0;
  }

  .user-Edit-Container form {
    width: 80%;
  }

  .form-Group input {
    width: 100%;
    margin-left: 5%;
    border: none;
    outline: none;
  }

  .form-Group span {
    color: #d6d6d6;
  }

  .form-Group {
    margin-bottom: 50px;
    border-bottom: 1px solid;
  }

  .profile-Appleal-Container, .supply-Remarks-Container {
    margin: 0 auto;
  }

  .remarks-Textarea {
    margin-top: 5px;
  }

  textarea {
    width: 93%;
    padding: 10px;
  }

  .profile-Appleal-Container p {
    margin-bottom: 5px;
  }

  /*        ユーザー情報変更ページ        */

  .user-Edit-Container form .form-Group input {
    margin: 0;
    margin-top: 20px;
  }

  #profile-Image {
    margin: 0 auto;
  }

  #profile-Image p {
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #0a0a0a;
  }

  .profile-Image-Inner {
    display: flex;
  }

  .profile-Image-Inner input[type="file"] {
    display: none;
  }

  .profile-Image-Inner label {
    width: 45%;
    height: 40px;
    margin: 90px 2% 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #e1d7b9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 8pt;
    text-align: center;
    line-height: 4.0;
  }

  .profile-Image-Thumbnail {
    margin: 15px 0;
    text-align: center;
  }

  .profile-Image-Thumbnail img {
    width: 180px;
    height: 180px;
  }

  /*        会員情報削除後ページ        */

  .user-Delete-Container {
    margin: 250px 0;
    text-align: center;
  }

  /*        チャットルーム        */

  .matcing-Infomation {
    margin: 30px 0;
  }

  .matcing-Partner-Container-Title, .matcingItem-Information-Container-Inner-Title {
    margin: 40px 0 20px 4%;
  }

  .matcing-Infomation p, .matcing-ChatRoom-Container-Form {
    margin: 0;
    text-align: center;
  }

  .matching-Button-Container {
    margin: 0;
    text-align: center;
    background-image: url(../images/matching-button.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .matching-Button-Container p {
    width: 35%;
    margin-top: 110px;
    padding: 0 5px;
    display: inline-block;
    font-size: 5pt;
    font-weight: normal;
    text-align: left;
  }

  .matching-Button-Container button {
    width: 60%;
    margin: 0 10%;
    margin-bottom: 35px;
    border-radius: 10px;
    background-color: #ef5a24;
  }

  .matcing-ChatRoom-Container-Form {
    height: 80px;
    padding-top: 10px;
  }

  .matcing-ChatRoom-Container-Form input[type="text"] {
    width: 62%;
    padding-bottom: 7px;
    line-height: 1.8;
    border: none;
    outline: none;
    border-bottom: 1px solid;
  }

  .matcing-ChatRoom-Container-Form button {
    width: 18%;
    height: 40px;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #0a0a0a;
    background-color: #e1d7b9;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
  }

  .matcingItem-Container-Inner {
    display: flex;
  }

  .matcingItem-Container-Inner-Image {
    width: 40%;
    margin-left: 3%;
  }

  .matcingItem-Container-Inner-Image img {
    width: 100%;
    margin-left: 15%;
    border: 1px solid;
  }

  .matcingItem-Container-Inner-Information {
    width: 60%;
    margin-bottom: 40px;
    margin-left: 7%;
    font-size: 10pt;
    font-weight: normal;
    line-height: 1.8;
  }

  .matcingItem-Container-Inner-Information div p span {
    font-weight: bold;
  }

  .chatColor {
    width: 53%;
  }

  .supply-Remarks {
    float: left;
  }

  .supply-Remarks-inner {
    width: 85%;
    padding-right: 5px;
  }

  .matcingItem-Container-Inner-Information div, .matcingItem-Container-Inner-Information div p {
    margin: 0;
    padding: 0;
  }

  .matcing-Partner-Container {
    margin: 20px 0;
  }

  .matcing-Partner-Container-Inner {
    display: flex;
  }

  .matcing-Partner-Container-Inner-Image {
    margin-left: 9%;
    text-align: center;
  }

  .matcing-Partner-Container-Inner-Image img {
    height: 130px;
    width: 130px;
    border: 1px solid;
    border-radius: 50%;
  }

  .matcing-Partner-Container-Inner-Information {
    width: 80%;
    margin-top: 30px;
    margin-right: 5%;
    padding-left: 2%;
    font-size: 10pt;
    font-weight: normal;
  }

  .matcing-Partner-Container-Inner-Information p span {
    font-weight: bold;
  }

  .partner-Appleal {
    width: 90%;
    padding-top: 5px;
  }

  .matcing-ChatRoom-Container, .matching-Button-Container, .matcingItem-Information-Container, .supply-Show-Container-Infomation {
    margin-top: 25px;
    border-bottom: 2px solid #e2e2e2;
  }

  .matcing-Partner-Container-Inner-Information p {
    margin: 0;
    margin-top: 5px;
    font-size: 10pt;
  }

  .matcing-ChatRoom-Container-inner {
    width: 100%;
    height: 400px;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;
    overflow-y: auto;
    background-color: #f3efe2;
    border-radius: 5px;
  }

  .matcing-Infomation p {
    font-size: 10pt;
    color: #ff433c;
  }

  .chat-Message-Content {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
  }

  .chat-Message-Content img {
    display: block;
    width: 35px;
    height: 35px;
    margin-left: 7%;
    margin-right: 5px;
    border-radius: 50%;
    align-self: center;
  }

  .my-Chat {
    margin: 0 9% 10px 9%;
    justify-content: flex-end;
  }

  .my-Message {
    display: inline;
    background-color: #feffff;
    border-radius: 10px;
    line-height: 2.0;
  }

  .partner-Chat {
    margin-right: 9%;
    margin-left: 2%;
  }

  .partner-Message {
    display: inline;
    background-color: #feffff;
    border-radius: 10px;
    line-height: 2.0;
  }

  .my-Message p, .partner-Message p {
    margin: 0;
    padding: 5px 12px;
    text-align: left;
    font-size: 10pt;
    font-weight: normal;
  }

  .my-Chat-Date {
    margin-bottom: 0;
    padding-right: 5px;
    text-align: right;
    font-size: 3pt;
    font-weight: normal;
    align-self: flex-end;
  }

  .partner-Chat-Date {
    margin-bottom: 0;
    padding-left: 5px;
    text-align: left;
    font-size: 3pt;
    font-weight: normal;
    align-self: flex-end;
  }

  .my-Chat-Date p , .partner-Chat-Date p {
    margin: 0;
  }

  .matcing-ChatRoom-Container-Form input::placeholder {
    color: #cccccc;
  }

  /*        マッチング確認画面        */

  .macting-Confirm-Container-Infomation, .matcing-Confirm-Container-Button, .supply-Confirm-Container {
    text-align: center;
  }

  .confirm-button {
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #feffff;
    font-size: 10pt;
    font-weight: bold;
  }

  .matcing-Confirm-Container-Infomation, .supply-Confirm-Container-Infomation {
    padding-top: 10px;
  }

  .matcing-Confirm-Container-Infomation-message {
    width: 70%;
    margin: 0 auto;
  }

  .confirm-message {
    margin-bottom: 35px;
    padding: 0;
    padding-top: 80px;
    font-size: 9pt;
    text-align: left;
  }

  .match-confirm {
    margin-left: 16%;
  }

  .matcing-Confirm-Container {
    width: 100vw;
    min-height: 90vh;
    margin-top: 3px;
    background-color: #e1d7b9;
    background-image: url(../images/matcing-confirm.png);
    background-size: 50%;
    background-position: left bottom;
    background-repeat: no-repeat;
  }

  .macting-Confirm-Container-Infomation-Applying {
    width: 100vw;
    min-height: 90vh;
    background-color: #e1d7b9;
    background-image: url(../images/matching-applying.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .macting-Confirm-Container-Infomation-message {
    width: 100vw;
    min-height: 90vh;
    background-color: #e1d7b9;
    background-image: url(../images/supply-macing.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }


  .matcing-Confirm-Container-Button {
    margin-top: 50px;
  }

  .back_ground{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/1-1_back.png);
  }

  .user-Delete-Confirm-Container {
    width: 100vw;
    min-height: 100vh;
    background-color: #e1d7b9;
    background-image: url(../images/userDelete.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .user-Delete-Confirm-Container p {
    width: 70%;
    margin: 0 auto;
    padding-top: 92px;
  }

  /*        おさがり検索       */

  .search-title {
    margin-left: 5%;
    margin-bottom: 0;
    padding-top: 5px;
    font-size: 8pt;
    letter-spacing: 1px;
  }
  .search-group {
    text-align: center;
  }

  .search-word {
    height: 30px;
    width: 80%;
    margin: 0 5%;
    padding-left: 10%;
    position: relative;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 2%;
    background-size: 20px;
    font-size: 5pt;
    letter-spacing: 1px;
  }

  .search-word::placeholder {
    color: #cccccc;
  }

  .search-btn {
    display: none;
  }

  .search-Category-Button {
    margin-left: 5%;
    margin-right: 1%;
  }

  .search-Category {
    width: 17.4%;
  }

  .search-Category-Group {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 15px;
  }

  /*        おさがり検索(結果)       */

  .search-Result {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }

  .result-Supply-Container:first-child, .result-Supply-Container:nth-child(2) {
    padding-top: 0;
    margin-top: 10px;
  }

  .result-Supply-Container {
    width: 41%;
    padding-top: 10px;
    border-bottom: 1px solid #f2f2f2;
  }

  .result-Supply-Container:nth-child(odd) {
    padding-right: 15px;
    margin-left: 5%;
    border-right: 1px solid #f2f2f2;
  }

  .result-Supply-Container:nth-child(even) {
    padding-left: 15px;
  }

  .result-Supply-Container a, .result-Supply-Container a:visited {
    color: #0a0a0a;
    text-decoration:none;
  }

  .result-Supply-Container img {
    width: 100%;
    height: 70%;
  }

  .result-Supply-Container p {
    margin: 0;
    font-size: 5pt;
    font-weight: normal;
  }

  .result-Supply-Container label {
    margin-left: 0;
  }

  .result-Supply-Container span {
    width: 60%;
    height: 15px;
    font-size: 5pt;
    text-align: center;
    line-height: 1.5;
  }

  .no-supply {
    text-align: center;
  }

  /*        おさがり一覧ページ        */

  .supply-Index-Button a button {
    width: 70%;
    height: 40px;
    margin: 20px 15%;
    border: none;
    border-radius: 13px;
    background-color: #e1d7b9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .my-Supply-Index {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 20px;
    font-size: 8pt;
    text-align: center;
    border-collapse: collapse;
  }

  .my-Supply-Index tr {
    border-bottom: 1px solid #e2e2e2;
  }

  .my-Supply-Index tr:first-child {
    border-collapse: unset;
    background-color: #f2f2f2;
    border: none;
  }

  .my-Supply-Index tr th {
    text-align: center;
  }

  .my-Supply-Index tr td:first-child {
    width: 50px;
  }

  .my-Supply-Index tr td img {
    width: 100%;
    height: 50px;
    margin-top: 2px;
  }

  .my-Supply-Index tr th:last-child, .my-Supply-Index tr td:last-child {
    width: 15%;
  }

  .supply-Edit-Btn {
    height: 20px;
    display: block;
    font-size: 8pt;
    letter-spacing: 0px;
    background-color: #e1d7b9;
    border-radius: 10px;
    line-height: 2;
  }

  .supply-Add-List {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
  }

  .supply-Add-List h2 {
    margin-top: 0;
    padding-top: 10px;
  }

  .index-Paginate-Area {
    margin-bottom: 20px;
    text-align: center;
  }

  .index-Paginate-Area nav ul {
    padding-left: 0;
  }

  /*        ユーザー登録        */
  .user-Create-Container, .user-Create textarea, .user-Create-Container input {
    background-color: #e1d7b9;
  }

  .user-Create label, .user-Create img, .user-Create input[type="submit"], .user-Create button {
    background-color: #fff;
  }

  .user-Create-Top {
    margin-top: 50px;
  }

  .title-logo {
    padding-top: 80px;
  }

  .title-logo img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }

  .user-Create-Confirm {
    padding-top: 40px;
  }

  .user-Welcome-Button {
    margin-top: 30px;
  }

  .user-Welcome-Container {
    height: 100vh;
    margin: 0;
    background-image: url('../images/welcomeback.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .user-Welcome-Container-Infomation-Applying button {
    width: 70%;
  }

  .user-Welcome-Container-Infomation-Applying p {
    margin-left: 16%;
  }

  /*        ログインフォーム        */

  .user-Login-Container {
    height: 100vh;
    background-image: url('../images/loginback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .user-Login-Container-Form {
    width: 70%;
    height: 50vh;
    margin: 80px auto;
  }

  .user-Login-Container-Form .form-Group input {
    margin-left: 0;
  }

  .user-Login {
    margin-bottom: 10px;
  }

  /*        おさがり詳細        */

  .supply-Show-Container-Infomation {
    margin: 0;
  }

  .slider{
    width:100%;
    margin:0 auto;
  }

  /*--------画像サイズ調整---------*/
  .slider img{
  width:100%;
  }

  /*-----------height調整----------*/
  .slick-slide{
    height:auto!important;
  }

  /*-----------矢印表示----------*/
  .slick-next{
    right:0!important;
  }
  .slick-prev{
    left:0!important;
  }
  .slick-arrow{
    z-index:2!important;
  }

  .supply-Show-Container-Info ul, .supply-Show-Container-Info ul ol {
    padding: 0;
  }

  .supply-Show-Container-Info ul ol {
    margin: 0 5%;
    font-size: 10pt;
    font-weight: normal;
    line-height: 1.8;
  }

  .supply-Show-Container-Info ul ol:first-child {
    padding-top: 10px;
    font-weight: bold;
    font-size: 12pt;
  }

  .supply-Show-Container-Info .btn-Group {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .supply-Show {
    margin-top: 10px;
  }

  .supply-Show-Bottom {
    margin-bottom: 30px;
  }

  .supply-Show-Condition {
    width: 33%;
    font-size: 8pt;
    line-height: 2.5;
  }

  .no-color {
    background-color: #e2e2e2;
  }

  .supply-Show-Container-Info ul ol:nth-child(5) {
    display: flex;
  }

  .supply-Show-Container-Info ul ol:nth-child(5) .condition-Group-Choice {
    width: 80%;
  }

  .supply-Show-Container-Info ul ol:last-child span {
    display: block;
    width: 84%;
  }

  .supply-Show-Container-Info ul ol:last-child {
    display: flex;
  }

  .my-Supply-Index tr td a {
    text-decoration: none;
    color: #0a0a0a;
  }

  /*        トップページ        */

  .home-Container {
    height: 100vh;
    background-image: url(../images/top-BackGround.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  .home-Container-Btn-Group {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
  }

  .home-Container-Btn-Group p {
    margin-bottom: 20px;
    font-size: 10pt;
  }

  /*        マイページ        */

  .user-Show-Container {
    width: 70%;
    margin: 0 auto;
  }

  .user-Show-Container p {
    padding-top: 50px;
    font-size: 10pt;
    border-bottom: 1px solid #0a0a0a;
  }

  .user-Show-Container-Info p:first-child {
    padding-top: 10px;
  }

  .user-Show-Container-Image img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    border: 1px solid #0a0a0a;
    border-radius: 50%;
  }

  .user-Show-Container-Appleal .user-Appleal {
    padding-top: 0;
    border-bottom: none;
    font-size: 10pt;
    font-weight: normal;
  }

  .user-Show-Container-Appleal p:first-child {
    padding-top: 20px;
  }

  .btn-Group .logout {
    border: 1px solid #e1d7b9;
    background-color: #fff;
  }

  /*        交流一覧        */

  .my-Chat-Index tr th:last-child {
    width: 25%;
  }

  .my-Chat-Index tr td:last-child a {
    width: 70%;
    margin: 0 auto;
    display: block;
  }

  /*        ユーザー情報変更後ページ        */

  .user-Edit-Confirm {
    height: 100vh;
    background-color: #e1d7b9;
    background-image: url(../images/userEditConfirm.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
  }

  .user-Edit-Confirm-Container {
    width: 70%;
    margin: 0 auto;
  }

  .user-Edit-Confirm-Container-Infomation-message p {
    margin-top: 3px;
  }

  .user-Edit-Confirm-Container-Button .btn-Group a button {
    background-color: #fff;
  }

  /*        おさがり情報削除確認        */

  .supply-Delete-Confirm {
    height: 100vh;
    background-color: #e1d7b9;
    background-image: url(../images/supplyDeleteConfirm.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left bottom;
  }

  .supply-Delete-Confirm-Container {
    width: 70%;
    margin: 0 auto;
  }

  .supply-Delete-Confirm-Container-Infomation-message p {
    margin-top: 3px;
  }

  /*        交流完了確認画面        */

  .matchi-complete-Confirm {
    height: 100vh;
    background-color: #e1d7b9;
    background-image: url(../images/matchiComplete.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 20% bottom;
  }

  .matchi-complete-Confirm-Container {
    width: 70%;
    margin: 0 auto;
  }

  .matchi-complete-Confirm-Container-Infomation-message p {
    margin-top: 3px;
  }

  /*        おさがり詳細の受付終了メッセージ        */

  .contract-Message {
    padding-top: 15px;
    border-top: 2px solid #e2e2e2;
    text-align: center;
    font-size: 14pt;
  }

  /*        ペジネーション        */

  .pagination {
    margin: 0;
    margin-top: 12px;
  }

  .pagination li {
    display: inline-block;
  }

  .pagination li a, .pagination li span {
      font-size: 8pt;
      margin: 0 2px;
      color: #e2e2e2;
  }

  .pagination .active span {
      box-sizing: border-box;
      color: #0a0a0a;
  }

  .paginate-Container {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #f2f2f2;
  }

  .paginate-Container h3 {
    width: 80%;
    margin: 10px auto;
    margin-bottom: 0;
  }

  .pagination-area {
    text-align: right;
    margin-right: 5%;
    margin-bottom: 20px;
  }

  /*        おさがり登録完了        */
  .supply-Create-Confirm-Container {
    height: 100vh;
    background-color: #e1d7b9;
    background-image: url(../images/supplyCreateBack.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 80% bottom;
  }

  .supply-Create-Confirm-Container-Infomation {
    width: 70%;
    margin: 0 auto;
  }

  .supply-Create-Confirm-Container-Infomation-Applying p {
    margin-top: 3px;
    padding-top: 100px;
    margin-bottom: 35px;
  }

  .supply-Create-Confirm-Container-Button {
    margin-top: 50px;
  }

  .supply-Create-Confirm-Container-Button a button {
    width: 100%;
  }

  .matci-Complete-Confirm-Container {
    height: 100vh;
    background-color: #e1d7b9;
    background-image: url(../images/matciComplete.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right bottom;
  }

  .supply-Delete-Complete-Container {
    height: 100vh;
    background-color: #e1d7b9;
    background-image: url(../images/supplyDeleteComplete.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right bottom;
  }

  .pass-Reset-Container {
    height: 100vh;
    background-color: #e1d7b9;
    background-image: url(../images/passReset.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .pass-Reset-Confirm-Container-Infomation-message {
    width: 70%;
    margin: 0 auto;
  }

  .pass-Reset-Confirm-Container-Infomation-message p {
    padding-top: 50px;
  }

  .pass-Reset-Container-Form {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .form-Group input {
    margin-left: 0;
  }

  .pass-reset-btn {
    margin-bottom: 5px;
  }

  .pass-Forget-Container {
    height: 100vh;
  }
}